.song__playing-state {
    width: 25px;
    height: 15px;
    margin: 0;
    background-position: center;
    background-size: cover;
    border: none;
}

@media screen and (max-width: 620px) {
    .song__playing-state {
        width: 20px;
        height: 12px;
    }
}