.button_type_collapse {
    width: 24px;
    height: 24px;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    background-image: url('../../../images/player/collapse-button.svg');
    border-radius: 0;
    background-size: contain;
    margin-top: 5px;
}

@media screen and (max-width: 768px) {
    .button_type_collapse {
        width: 16px;
        height: 16px;
        margin-top: 11px;
    }
}