@import url('./__input/feedback__input.css');
@import url('./__input/_type_text-area/feedback__input_type_text-area.css');
@import url('./__button-container/feedback__button-container.css');
@import url('./__text/feedback__text.css');
@import url('./__link/feedback__link.css');

.feedback {

    display: flex;
    flex-direction: column;
    position: relative;
}