.player__text {
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-weight: normal;
    line-height: 24px;
    color: #fff;
    align-self: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    grid-column: 2;
}

@media screen and (max-width: 1280px) {
    .player__text {
        font-size: 18px;
        line-height: 22px;
    }
}

/* @media screen and (max-width: 1024px) {
    .player__text {
        grid-column: 2;
    }
} */

@media screen and (max-width: 768px) {
    .player__text {
        font-size: 14px;
        line-height: 19px;
        /* grid-column: 2; */
    }
}