.button_type_submit {
    width: 600px;
    margin-bottom: 86px;
    height: 60px;
}

@media screen and (max-width: 1024px) {
    .button_type_submit {
        height: 42px;
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .button_type_submit {
        height: 42px;
    }
}