@keyframes scroll {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(calc(100vw - 200px - 100%), 0)
    }
}

.song__text_scrolled {
    animation: scroll 10s infinite alternate linear;
}