.button_type_switch {
    width: 135px;
    height: 100%;
}

@media screen and (max-width: 1280px) {

    .button_type_switch {
        width: 125px;
    }
}

@media screen and (max-width: 768px) {

    .button_type_switch {
        width: 100%;
    }
}
