.button_type_switch {
    width: 147px;
    grid-row: 1;
    grid-column: 4;
}

@media screen and (max-width: 768px) {

    .button_type_switch {
        height: 32px;
        width: 100%;
        grid-row: 3;
        grid-column: 2/4;
        margin-bottom: 30px;
    }
}