.container {
    height: 110px;
    width: calc(100% - 88px);
    margin: 0 68px 0 20px;
    position: absolute;
    top: 250px;
    left: 0;
    transition: opacity .5s, top .3s cubic-bezier(.53,.03,.29,1.14);
    opacity: 0;
}

@media screen and (max-width: 620px) {

    .container {
        margin: 0 40px 0 12px;
        width: calc(100% - 48px);
    }
}