.song_type_collapse {
    grid-template-columns: auto max-content;
    grid-template-rows: 40px min-content;
}

@media screen and (max-width: 620px) {
    .song_type_collapse {
        grid-template-rows: 30px min-content;
    }
} 