.info__paragraph {
    max-width: 716px;
    margin: 16px 0;
    color: black;
    font-size: 18px;
    font-weight: normal;
    line-height: 121%;
}

@media screen and (max-width: 620px) {
    .info__paragraph {
        margin: 10px 0;
        font-size: 12px;
    }
}