.player_expanded {
    top: 0;
    grid-template-columns: 20px auto 60px 147px 24px;                             
}

@media screen and (max-width: 768px) {
    
    .player_expanded {
        grid-template-columns: 16px auto 55px 16px;
        grid-template-rows: repeat(4, max-content);
    }
}