.title {
    position: absolute;
    margin: 0;
    width: 86%;
    padding-left: calc(7%);
    max-height: 272px; 
    background-position: center;
    background-repeat: no-repeat;
    object-fit: contain;
    background-size: contain;
    left: 0;
    top: calc(50vh - 130px);
}