.info__title {
    margin: 44px 0;
    color: black;
    font-size: 30px;
    font-weight: normal;
    line-height: 1.2;
}

.info__title:last-of-type {
    margin: 86px 0 80px;
}

@media screen and (max-width: 620px) {
    .info__title {
        margin: 26px 0 15px;
        font-size: 20px;
        font-weight: normal;
    }

    .info__title:last-of-type {
        margin: 60px 0 30px;
    }
}