@import url('./__text/footer__text.css');

.footer {
    width: calc(100%-70px);
    padding: 50px 35px;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 620px) {
    .footer {
        width: calc(100%-40px);
        padding: 30px 20px;
    }
}