.page__bg {
    margin: 0;
    width: 100%;
    height: 100vh;

    z-index: -1;    
    object-fit: contain;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}