.button_type_play {
    width: 40px;
    height: 40px;
    padding: 0;
    background-image: url('../../../images/player/play-button.svg');
    background-position: center;
    background-repeat: no-repeat;
    border: none;
}