@keyframes move {
    0% {
        transform: translate(0, calc(100vh - 350px));
    }
    100% {
        transform: translate(0, calc(100vh - 505px))
    }
}

.player {
    width: calc(100% - 40px);
    padding: 0 20px;
    margin-top: calc(100vh - 350px);
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
    transition: margin-top .3s ease-in-out;
}

@media screen and (max-width: 620px) {
    
    @keyframes move {
        0% {
            transform: translate(0, calc(100vh - 340px));
        }
        100% {
            transform: translate(0, calc(100vh - 550px))
        }
    }
    
    .player {
        margin-top: calc(100vh - 340px);
        padding: 0 12px;
        margin-bottom: 16px;
    }

 
}