@import url('./__text/player__text.css');
@import url('./__text/_type_time/player__text_type_time.css');
@import url('./__text/_type_song/player__text_type_song.css');

.player {
    width: calc(100% - 40px);
    display: grid;
    position: absolute;
    grid-template-columns: 20px auto 60px 24px;     
    grid-template-rows: repeat(3, max-content);      
    column-gap: 20px;                  
    position: relative;
    margin: 0;
    overflow: hidden;
    padding: 0 20px;
    transition: top .4s ease-out;
    top: 144px;
    left: 0;
}

@media screen and (max-width: 768px) {
    
    .player {
        padding: 0 12px;
        width: calc(100% - 24px);
        top: 174px;
        column-gap: 12px;
        grid-template-columns: 16px auto 55px 16px;
        grid-template-rows: repeat(4, max-content);
    }
}