.header__links {
    opacity: 1;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    transition: opacity .7s, top .5s cubic-bezier(.53,.03,.29,1.14);

}

@media screen and (max-width: 768px) {
    .header__links {
        top: 40px;
    }

    .header__links_hidden {
        opacity: 0;
        top: 220px;
    }
}