.feedback__input {
    margin: 0 0 16px;
    width: calc(100% - 30px);
    border-radius: 30px;
    padding-left: 24px;
    text-align: left;
    font-size: 18px;
    font-weight: normal;
    line-height: 121%;
    height: 60px;
    outline: none;
    border: 2px solid black;
}

@media screen and (max-width: 620px) {
    .feedback__input {
        height: 36px;
        font-size: 12px;
    }
}