.player-container {
    position: relative;
    margin: calc(100vh - 520px) 0 0 0;
    overflow: hidden;
    height: 194px;
}

@media screen and (max-width: 768px) {
    
    .player-container {
        margin-top: calc(100vh - 555px);
        height: 224px;
    }
}